<div class="container">

    <form class="w-50 bg-secondary text-dark p-5 m-5" style="border:double;border-radius: 10pt;" >
        <div class="form-group">
            <label>Enter Id</label>
            <input class="form-control">
        </div>

        <div class="form-group">
            <label>Enter Name</label>
            <input class="form-control">
        </div>
        <div class="form-group">
            <label>Enter SSN</label>
            <input class="form-control">
        </div>
        <div class="form-group">
            <label>Enter Age</label>
            <input class="form-control">
        </div>
        <div class="form-group" style="margin-top: 5pt;">
                <button type="submit" class="btn btn-primary">Login</button>
                <button type="reset" class="btn btn-primary" style="margin-left: 2pt;">Cancel</button>
        </div>

    </form>

</div>